.traffic-light{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pole{
    width: 50px;
    height: 100px;
    background-color: black;
}

.light-box{
    width: 200px;
    height: 500px;
    padding: 30px;
    background-color: black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.light{
    width: 135px;
    height: 135px;
}

.shine{
    box-shadow: -2px -1px 84px 22px rgba(235,237,140,1);
}